<center><u><H1>Pandas: Applying Functions</H1></u></center>

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({'col1':[1,2,3,4,5],'col2':[3,5,4,2,5],'col3':['ac','df','gi','wr','xf']})
df

   col1  col2 col3
0     1     3   ac
1     2     5   df
2     3     4   gi
3     4     2   wr
4     5     5   xf

### Applying Functions:

In [3]:
def log10(x):
    return np.log10(x)

In [4]:
log10(df['col2'])

0    0.477121
1    0.698970
2    0.602060
3    0.301030
4    0.698970
Name: col2, dtype: float64

In [5]:
df['col2'].apply(log10)

0    0.477121
1    0.698970
2    0.602060
3    0.301030
4    0.698970
Name: col2, dtype: float64

In [6]:
def getsupport(X,data):
    N = len(data)
    support = (data==X).sum() / N
    return support

In [7]:
getsupport(5,df['col2'])

0.4

### Lambda Functions:

#### General expresion: lambda arg1, arg2, ...argN : expression using arguments

In [8]:
df['col2'].apply(lambda x: np.log(x))

0    1.098612
1    1.609438
2    1.386294
3    0.693147
4    1.609438
Name: col2, dtype: float64

In [9]:
df['col1'].apply(lambda x: x**2)

0     1
1     4
2     9
3    16
4    25
Name: col1, dtype: int64

In [10]:
df['col2'].apply(lambda x: 'big' if x > 3 else 'small')

0    small
1      big
2      big
3    small
4      big
Name: col2, dtype: object

In [11]:
df['col4']= df['col3'].str[0:2].apply(lambda x: 1 if x==('gi') else 0)
df

   col1  col2 col3  col4
0     1     3   ac     0
1     2     5   df     0
2     3     4   gi     1
3     4     2   wr     0
4     5     5   xf     0

### Using map function and lambda expresion

In [12]:
items = [1, 2, 3, 4, 5]

def sqrt(x): return np.sqrt(x)

In [13]:
# map iterator
list(map(sqrt, items))

[1.0, 1.4142135623730951, 1.7320508075688772, 2.0, 2.23606797749979]

In [14]:
df['col2'].map(sqrt)

0    1.732051
1    2.236068
2    2.000000
3    1.414214
4    2.236068
Name: col2, dtype: float64

In [15]:
def quadratic(x): return x**2

df['col1'].map(quadratic)

0     1
1     4
2     9
3    16
4    25
Name: col1, dtype: int64

In [16]:
# lambda function with map iterator
df['col5'] = list(map(lambda x : x * 2, df['col1']))
df

   col1  col2 col3  col4  col5
0     1     3   ac     0     2
1     2     5   df     0     4
2     3     4   gi     1     6
3     4     2   wr     0     8
4     5     5   xf     0    10

## Reference:

https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.apply.html